@import "media-queries";

@keyframes bounce {
  0% {
    transform: rotate(-45deg);
  }
  10% {
    transform: rotate(-35deg);
  }
  70% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bigup {
  0% {
    font-size: 2rem;
  }

  50% {
    font-size: 3rem;
  }

  100% {
    font-size: 2rem;
  }
}

@keyframes bigup-xs {
  0% {
    font-size: 1.3rem;
  }

  50% {
    font-size: 1.62rem;
  }

  100% {
    font-size: 1.3rem;
  }
}

@keyframes arrow {
  0% {
  }

  50%{ 
    opacity: 1;
    transform: translateY(20px); 
  }

  100% {
    
      opacity: 0.2;
    }
  }
