@import "reset";
@import "base";
@import "classes";
@import "animations";
@import "media-queries";

.grid-container {
  display: grid;
  min-height: 100vh;
  grid:
    "picture header" auto
    "aside main" 1fr
    "footer footer" auto
    / 350px auto;

  @include xs {
    grid:
      "header" auto
      "main" auto
      "picture" auto
      "aside" auto
      / auto;
  }
}

//////////////////////////////////////////////// GENERAL ///////////////////////////

// body {
//   color: #333;
// }

//////////////////////////////////////////////// HEADER ///////////////////////////

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 8rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include xs {
    padding: 5rem 2rem;
    height: 250px;
  }

  h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 1rem;
    @include xs {
      font-size: 2.7rem;
      margin: 0.5rem 0;
    }
  }
  p {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    @include xs {
      font-size: 1.3rem;
      margin: 0;
    }
  }

  .header-crypto {
    animation: bigup 2s;

    @include xs {
      animation: bigup-xs 2s;
    }
  }

  .header-redactrice {
    animation: bigup 2s 2.1s;

    @include xs {
      animation: bigup-xs 2s 2.3s;
    }
  }

  .header-html {
    animation: bigup 2s 4.2s;

    @include xs {
      animation: bigup-xs 2s 4.2s;
    }
  }

  // .r {
  //   display: inline-block;
  //   animation: bounce 2s;
  // }
}

////////////////////////////////////// PICTURE //////////////////////////////////

.picture {
  grid-area: picture;
  padding: 6rem;
  background: var(--background);
  border-right: 1px solid #ddd;

  img {
    border-radius: 50%;
  }
}

//////////////////////////////////////////////// ASIDE ///////////////////////////

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid #ddd;
  padding: 3rem 5rem;
  h3 {
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    margin-bottom: 1.2rem;
    font-style: italic;
  }

  .francais {
    padding: 1rem;
    &:hover {
      background: rgb(238, 236, 236);
    }
  }

  .english {
    padding: 1rem;
    &:hover {
      background: rgb(238, 236, 236);
    }
  }

  .coursera {
    margin-bottom: 0;
  }

  .coursera:nth-child(6) {
    margin-bottom: 1.2rem;
  }

  .html:hover {
    transition: all 0.2s;
    color: #e34d26;
  }

  .scss:hover {
    color: #264de3;
    transition: all 0.2s;
  }
  .js:hover {
    color: #f6df1d;
    transition: all 0.2s;
  }

  .bar-skill {
    margin: 2rem 0;
    height: 5px;
    background: var(--hint);
    position: relative;
    .bar-skill-html-progress {
      position: absolute;
      height: 5px;
      top: 0;
      left: 0;
      width: 75%;
      background: var(--light);
    }
    .bar-skill-scss-progress {
      position: absolute;
      height: 5px;
      top: 0;
      left: 0;
      width: 65%;
      background: var(--light);
    }
    .bar-skill-js-progress {
      position: absolute;
      height: 5px;
      top: 0;
      left: 0;
      width: 15%;
      background: var(--light);
    }
    .bar-skill-html-dot {
      position: absolute;
      height: 10px;
      width: 10px;
      background: var(--light);
      left: calc(75% - 5px);
      top: -2.5px;
      transform: rotate(45deg);
    }
    .bar-skill-scss-dot {
      position: absolute;
      height: 10px;
      width: 10px;
      background: var(--light);
      left: calc(65% - 5px);
      top: -2.5px;
      transform: rotate(45deg);
    }
    .bar-skill-js-dot {
      position: absolute;
      height: 10px;
      width: 10px;
      background: var(--light);
      left: calc(15% - 5px);
      top: -2.5px;
      transform: rotate(45deg);
    }
  }
  .stars-container {
    margin: 1rem 0;
    display: flex;
    color: var(--hint);
    i {
      font-size: 1.5rem;
      margin: 0 0.7rem;
    }
  }
  .social-container {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 1rem;
    i {
      margin: 0 2rem 0 0;
      font-size: 2rem;
    }
    &:hover {
      i {
        transform: scale(1.3);
        transition: all 0.2s;
      }
      background: rgb(238, 236, 236);
      .fa-linkedin {
        color: #0e76a8;
      }
      .fa-twitter {
        color: #00acee;
      }
      .fa-discord {
        color: #5865f2;
      }
    }
  }
}

// //////////////////     MAIN /////////////////////////////

main {
  .pitchs {
    text-align: justify;
    padding: 0 15rem;
    font-size: 1.7rem;
    line-height: 2.5rem;
    @include xs {
      padding: 0 2rem;
    }
  }

  h2 {
    text-align: center;
  }
}

///// EXPERIENCE PROFESSIONNELLE

.experiences-professionnelles {
  margin-top: 6rem;
  display: grid;
  grid-template-areas:
    "web3 crypto ayera podcast"
    "restaurant ehg palexpo cigalon";
  grid-template-columns: auto repeat(3, 250px);
  column-gap: 2rem;
  row-gap: 1rem;
  justify-content: center;
  justify-items: center;
  align-items: center;

  @include xs {
    grid:
      "web3" auto
      "crypto" auto
      "ayera" auto
      "podcast" auto
      "restaurant" auto
      "ehg" auto
      "palexpo" auto
      "cigalon" auto
      / auto;

    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .web3 {
    grid-area: web3;
  }

  .restaurant {
    grid-area: restaurant;
  }

  .ayera {
    grid-area: ayera;
    &:hover {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }

  .podcast {
    grid-area: podcast;
    &:hover {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }

  .ehg {
    grid-area: ehg;
  }

  .crypto {
    grid-area: crypto;
  }

  .palexpo {
    grid-area: palexpo;
  }

  .cigalon {
    grid-area: cigalon;
    &:hover {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }

  article {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;

    img {
      min-height: 100px;
      max-height: 100px;
      max-width: 100px;
    }

    .item-1 {
      max-height: 100px;
      max-width: 100px;
    }

    .img-ayera {
      min-height: 100px;
      min-width: 200px;
      max-height: 110px;
    }

    .img-cigalon {
      min-width: 150px;
    }

    h4 {
      margin: 0;
    }

    h5 {
      color: #666;
      font-style: italic;
    }
  }
}

///////////////////////////////////// FOOTER ///////////////////////

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2rem;
  @include xs {
    padding: 2rem 1.5rem;
  }
  background: var(--text);
  h2 {
    margin-bottom: 3rem;
  }
  form {
    display: flex;
    align-items: center;
    .prefix,
    .postfix {
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
    }
    .prefix {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    button {
      background: var(--text);
      border: 0;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        opacity: 0.8;
      }
      .postfix {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
    input {
      outline: 0;
      border: 0;
      min-width: 400px;
      @include xs {
        min-width: 200px;
      }
      padding: 1rem 2rem;
      line-height: 2rem;
      &::placeholder {
        color: var(--text);
      }
    }
  }
}
